h1,.font,p{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
.box{
    border: 1px solid black;
    height: 570px;
    width: 1300px;
    margin: 20px;
}
.container{
    border: 1px solid black;
    height: 370px;
    width: 800px;
    margin-top: 60px;


}
img{
    border: 1px solid black;
    margin-top: 70px;
    margin-left: 70px;
}
    
.form{
    float: right;
    text-align: end;
    font-size: larger;
    margin-top: 100px;
}    
#seats{

    margin-right: 192px;
}